<div class="conatiner mt-5">
    <div class="text-center">
        @if (!registerMode) {
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches.. all you need to do is sign up!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-large me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-large me-2">Learn more</button>
        </div>
        }
        @else {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <!--app-rgister [usersFromHomeComponent]="users"></app-rgister-->
                    <!-- old approach to communicate between child to parent <app-rgister [usersFromHomeComponent]="users"
                        (cancelRegister)="cancelRegisterMode($event)"></app-rgister-->
                    <app-rgister [usersFromHomeComponent]="users"
                        (cancelRegister)="cancelRegisterMode($event)"></app-rgister>

                </div>
            </div>
        </div>
        }
    </div>
</div>